* { 
    margin: 0;
    padding: 0;
 }
 body { 
    position: relative;
    background-color: rgba(148, 140, 130, 0.993);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(241, 241, 239);
 }
 header { 
    background: url(../img/banner.png);
 }
header h1 { 
    font-family: 'Comic Sans MS';
    font-size: 4em;
    font-weight:normal;
}
#titulo{ 
   display: inline-block;
 }
 #logo, header h1{ 
    display: inline-block;
    margin-bottom: 0px;
    height: 160px;
  }
  /*Menu de navegacion*/
  nav { 
      display: inline-block;
      width: 100%;
      height: 40px;
      text-align: right;
      background-color: rgb(184, 131, 63);
 }
 nav ul { 
          list-style-type: none;
         }
nav li{ 
   display: inline-block;
   margin-right: 15px;

 }
 nav a{ 
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.3em;
   color:blanchedalmond;
   padding-bottom: 3px;
   text-decoration: none;
 }
 nav a:hover{ 
   color: brown;
   border-bottom: 3px solid salmon ;
 }
 /*Contenido*/
 img{ 
   height: 250px;
 }
 article{ 
   padding: 12px;

 }
 section{ 
   padding: 10px;
   margin-left: auto;
   margin-right: auto;
   float: left;
   width: 75%;

 }

aside { 
   padding: 5px;
   font-style: italic;
   float: right;
   width: 20%;
   border: 2px solid;

 }
 footer{ 
   float: left;
   position: relative;
   bottom: 0;
   width: 100%;
   height: 150px;
   box-sizing: border-box;
   border-top: 2px solid burlywood;
   color: rgb(17, 17, 16);
   text-align: center;
   padding-top:  10px;;

 }